<form class="form-container">
  <select class="search-selector title-styled-big">
      <option>▼</option>
      <option class="users-search title-styled-big">Users</option>
      <option class="repositories-search title-styled-big">Repositories</option>
      <option class="all-search title-styled-big">All</option>
  </select>
  <input class="search-input title-styled-big" type="text" placeholder="Search ...">
  <button class="search-button title-styled-big" type="submit">Search</button>
</form>
