<div class="container">
  <div class="user-avatar-image" style="background: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png');"></div>
  <div class="user-info">
    <h3 class="user-info-title title-styled-big">Full Name</h3>
    <div class="user-info-content">
      <ul class="content-text">
        <li class="text">
          <h4 class="text-title title-styled-small">Description: </h4>
          <p class="text-content body-big">Default description just to test!</p>
        </li>
        <li class="text">
          <h4 class="text-title title-styled-small">Location: </h4>
          <p class="text-content body-big">Default</p>
        </li>
        <li class="text">
          <h4 class="text-title title-styled-small">Company: </h4>
          <p class="text-content body-big">Default description just to test!</p>
        </li>
        <li class="text">
          <h4 class="text-title title-styled-small">Email: </h4>
          <p class="text-content body-big">default@default.com</p>
        </li>
      </ul>
      <div class="content-icons">
        <div class="github-icon"></div>
        <div class="twitter-icon"></div>
      </div>
    </div>
  </div>
</div>
