<div class="repository-container">
  <div class="repository-header title-styled-medium">
    <div class="header-icons title-styled-medium">
      <h3 class="x-icon">X</h3>
      <h3 class="minus-icon">-</h3>
    </div>
    <h2 class="header-title">Repository Name</h2>
  </div>
  <div class="repository-body">
    <div class="repository-description title-styled-medium">
      <h3 class="text-title">repository.description_</h3>
      <h3 class="text-response">--{{repository.description}}</h3>
    </div>
    <div class="repository-owner-name title-styled-medium">
      <h3 class="text-title">owner.name_</h3>
      <h3 class="text-response">--{{repository.owner.name}}</h3>
    </div>
    <div class="repository-owner-login title-styled-medium">
      <h3 class="text-title">owner.username_</h3>
      <h3 class="text-response">--{{repository.owner.login}}</h3>
    </div>
    <div class="console-line-effect title-styled-medium">
      <h3 class="nowrap text-title" contenteditable="true">$GS C:\users\{{repository.owner.login}}\{{repository.name}}_</h3>
    </div>
    <div class="buttons ">
      <button class="access-button title-styled-medium">Access Here</button>
      <button
        class="readme-button title-styled-medium"
        (click)="getReadme()"
      >See Readme</button>
    </div>
    <div *ngIf="readme; else readmeError">
      <gs-readme
        [data]="readme">
      </gs-readme>
    </div>
    <ng-template #readmeError>
      <p class="found-error">Readme not found!</p>
    </ng-template>
  </div>
</div>
