/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> */


/* Reset Styles */
* {
  margin: 0;
  padding: 0;
}
/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}
/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
	/* Move the label to the top */
	vertical-align:top;

	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/
select[multiple]
{
	/* Move the label to the top */
	vertical-align:top;
}


/* DEFAULT SCROLL */
 ::-webkit-scrollbar {
  width: 20px;
  height: 50%;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-primary-medium);
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: var(--color-primary-low);
}


:root {
  /** DEFAULT COLORS **/

  /* Primary colors */
  --color-primary-high: #4F1553;
  --color-primary-medium: #633D92;
  --color-primary-low: #9479B7;
  --color-primary-light: #BBAFD6;
  /* Creator theme color */
  --color-creator-high: #A67C00;
  --color-creator-medium: #BF9B30;
  --color-creator-low: #FFBF00;
  --color-creator-light: #FFCF40;
  --color-creator-lighter: #FFDC73;
  /* Black colors */
  --color-black-dark: rgba(0, 0, 0, .9);
  --color-black-medium: rgba(0, 0, 0, .6);
  --color-black-light: rgba(0, 0, 0, .5);
  --color-black-lighter: #9E9E9E;
  /* Gray colors */
  --color-gray-dark: #C2C2C2;
  --color-gray-medium: #E5E5E5;
  --color-gray-light: #F5F5F5;
  /* Error colors */
  --color-error-dark: #C62828;
  --color-error-medium: #E53935;
  --color-error-light: #FCE7E7;

  /* Default font */
  font-family: 'Roboto', sans-serif;
  color: var(--color-gray-light);

  background-color: var(--color-primary-light);
  /* font-family: 'Press Start 2P', cursive; */
}

/** DEFAULT FONTS **/
/* Roboto title */
.title-big {
  font-size: 60px;
}
.title-medium {
  font-size: 46px;
}
.title-small {
  font-size: 35px;
}
.title-smaller {
  font-size: 20px;
}

/* Press Start 2P title */
.title-styled-big {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}
.title-styled-medium {
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
}
.title-styled-small {
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
}
.title-styled-smaller {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

/* Roboto Body text */
.body-big {
  font-weight: lighter;
  font-size: 27px;
}
.body-medium {
  font-weight: lighter;
  font-size: 18px;
}
.body-small {
  font-weight: lighter;
  font-size: 16px;
}
.body-smaller {
  font-weight: lighter;
  font-size: 12px;
}

/**------------------------------------------**/
